<div class="container">
  <div class="row">
    <div class="col-xs-8 home-box">
        <div class="row">
          <% @cocktails.each do |cocktail| %>
            <%= link_to(cocktail_path(cocktail)) do %>
              <div class="col-xs-5 col-sm-4">
                <% if cocktail.picture.present? %>
                  <%= image_tag cocktail.picture.url(:home), class: "home-img" %>
                <% else %>
                  <%= image_tag "nopic.png", class: "home-img" %>
                <% end %>
                <p><%= cocktail.name %></p>
              </div>
            <% end %>
          <% end %>
        </div>
    </div>
    <div class="col-xs-3 home-box" id="info">
      <h1>Welcome !</h1>
      <p>Here you can select the best recipes for awesome nights.</p>
      <br>
      <%= link_to "Create a new cocktail", new_cocktail_path, class: "btn btn-primary" %>
    </div>

  </div>
</div>


