<div class="container">
  <div class="row">
    <div class="col-xs-11 col-md-7 col-lg-6 coktail-imgbox">
      <% if @cocktail.picture.present? %>
        <%= image_tag @cocktail.picture.url(:medium), class: "cocktail-img" %>
      <% else %>
        <%= image_tag "nopic.png", class: "cocktail-img" %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-11 col-md-7 col-lg-6 coktail-display">
      <h1>El <%= @cocktail.name %></h1>
      <br>

      <% @cocktail.doses.each do |dose| %>
        <p><%= dose.description + " of " + Ingredient.find(dose.ingredient_id).name %>
          <%= link_to "[X]", dose_path(dose),
          method: :delete,
          data: {confirm: "Are you sure?"}%>
        <p>
      <% end %>

      <br>
      <div class="new_ingredient-box">
      <h4>Add new ingredient</h4>

      <%= simple_form_for([@cocktail, @dose]) do |f| %>
        <%= f.error_notification %>

        <%= f.input :ingredient_id, as: :select, collection: Ingredient.all %>
        <%= f.input :description, label: 'Quantity'%>

        <%= f.submit 'Add', class: "btn btn-primary" %>
      <% end %>
      </div>

    </div>
  </div>
</div>


